@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cairo:wght@200..1000&display=swap");
body {
  font-family: cabin, sans-serif;
  font-weight: 500 !important;
  overflow-x: hidden;
}

.navbar-nav .nav-link {
  color: black !important;
}

.navbar-nav .nav-item:not(:last-child) {
  border-right: 2px solid #bfbfbf;
}

@media only screen and (max-width: 62em) {
  .navbar-nav .nav-item:not(:last-child) {
    border-right: none;
  }
}
.fm-cairo {
  font-family: cairo, sans-serif;
}
